<div class="container" style="height: 100vh;">

  <h1 style=" font-size: 2em ; font-weight:bold; padding-top:140px; text-align:center;">¡Bienvenido a iddux! <br>  </h1>

  <div class="col-sm-5 col-lg-4 float-right" style="margin-top:40px; right:90px;">

    <h2 class="text-center">Iniciar Sesión</h2>

    <div class="card">

      <div class="card-body">

          <span *ngIf="!username.valid && username.touched">
            <div class="alert alert-primary" role="alert">
             No has ingresado el nombre de usuario
            </div>
          </span>

            <form #login="ngForm" (ngSubmit)="signin()">

            <div class="form-group">
              <input type="text" class="form-control" name="username" minlength="6" placeholder="Username: nachodíaz"  #username="ngModel" [(ngModel)]="user.username" required>

            </div>

            <div class="form-group">
              <input type="password" class="form-control"
              name="password" placeholder="Contraseña" #password="ngModel" [(ngModel)]="user.password" required>
            </div>

            <button type="submit" (click)="openSnackBar()"  class="btn btn-primary btn-block" [disabled]="!login.valid">
              Iniciar Sesión
            </button>
            <span></span>
          </form>

      </div>

    </div>
  </div>

  <div class="col-lg-6 offset-1 offset-lg-1 mt-4 ml-5 pl-1 float-left" >

    <img src="./../../../../assets/images/undraw_game_day_ucx9.svg" class="img-fluid" width="600" alt="login-art-iddux">
  </div>

</div>

