.title{
  font-size:2.5em;
  color: var(--primary-color);
}

.card{
  display: inline;
  margin: 2% 2% 2% !important;
}

.example-card {
  max-width: 300px;
  height: auto;
  padding-top:3%;
}

.example-card .example-header-image{
  width: 100%;
  height: auto;
  position: relative;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card{
  border-radius:40px !important;
}

mart-card, img{
 object-fit:contain;
 width: 300px;
 height: 300px;
}

.example-card:hover{
  shadow: 2px 2px ;
}


@media (max-width:500px) {
  .mat-card{
    position: relative;
    left:15px;
  }

}


@media (max-width:390px) {
  .buscador{
    width: 90%;
    position: relative;
    right:20px;
  }
  .mat-card{
    position: relative;
    left:-30px;
  }

}

