<mat-nav-list>

  <div class="title-app">
    <a [routerLink]="['']" >
     IDDUX.COM
    </a>
  </div>

  <a mat-list-item routerLink="">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/registrar_producto">
    <mat-icon>add_shopping_cart</mat-icon>
    <span class="nav-caption">Registrar</span>
  </a>
  <a mat-list-item routerLink="/reportar_producto">
    <mat-icon>report_problem</mat-icon>
    <span class="nav-caption">Reportar Producto</span>
  </a>
</mat-nav-list>
