<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./../../../assets/images/woman-shopping.png" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h1 class="text-carousel">
        Registra tus productos en iddux.com <br>
        La forma más segura de registrar tus compras
      </h1>
    </div>
  </ng-template>
</ngb-carousel> -->

<div class="header">


  <div class="picsum-img-wrapper">
    <img src="./../../../assets/images/woman-shopping.png" alt="Random first slide">
  </div>
  <h1 class="text-carousel">
    Registra tus productos en iddux.com <br>
    la mejor opción online para almecanar tus productos
  </h1>
</div>
