@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');



.picsum-img-wrapper img{
  height: 480px;
  width: 100%;
  object-fit: cover !important;
}



@media (max-width:500px){



  .text-carousel{
    position: relative;
    left:0px;
    text-align: center;
    padding: 2rem;
  }

}
