<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="./../../../assets/images/guitarra.png" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h1>10 seconds between slides...</h1>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="./../../../assets/images/auto.png" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h1>No mouse events...</h1>
			<p>This carousel doesn't pause or resume on mouse events</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="./../../../assets/images/register.png" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h1>No keyboard...</h1>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="./../../../assets/images/woman-shopping.png" alt="Random fourth slide" />
		</div>
		<div class="carousel-caption">
			<h1>And no wrap after last slide.</h1>
			<p>This carousel uses customized default values.</p>
		</div>
	</ng-template>
</ngb-carousel>
