/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
  --primary-color: #1976D2;
}


html, body { height: 100%; }
body { margin: 0;  font-family: 'Open Sans', sans-serif;  }

.mat-drawer-container{background-color: rgb(231, 231, 231) !important;}

input{
  border-radius:8px !important;

  padding:1.5rem 2rem !important;
  color:#1f5891 !important;
}

input:focus{
  box-shadow: none !important;
}

button:focus{
  box-shadow: none !important;
}

select:focus{
  box-shadow: none !important;
}


select{
  border-radius:8px !important;
  height: 3rem !important;
  padding: 1px 30px !important;
  color:#1f5891 !important;
  font-weight: bolder !important;
}

button{
  border-radius:8px !important;
}

.card{
  border: none !important;
  border-radius:12px !important;
}

textarea{
  border-radius:8px !important;
  padding:1.5rem !important;
}

textarea:focus{
  box-shadow: none !important;
}


.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background-color: #501e9a !important;
}


.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  background: rgb(231, 231, 231);
}